<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <title>Home Page</title>
    <meta name="description" content="Just a home page for my browser">
    <meta property="og:description" content="Just a home page for my browser">
    <meta name="og:title" property="og:title" content="Home Page">
    <!--Make this the pages url: ie: www.example.com/index.html-->
    <meta property="og:url" content="https://chrispychips.github.io/custom-home-page/">
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="wrapper">
              <h2>Google</h2>
              <form action="https://www.google.com/search" class="searchform" method="get" name="searchform" target="_blank">
                <input name="sitesearch" type="hidden" value="">
                <input autocomplete="on" class="google-search form-control search col-lg-12 col-md-12 col-sm-12 col-xs-12" name="q" placeholder="" type="text">
                <button class="button col-lg-12 col-md-12 col-sm-12 col-xs-12" type="submit">Search</button>
              </form>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="wrapper youtube">
              <h2>Youtube</h2>
              <form action="http://www.youtube.com/results" method="get" target="_blank">
                <input name="search_query" type="text" maxlength="128" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                  <select class="half" name="search_type">
                    <option value="">Videos</option>
                    <option value="search_users">Channels</option>
                  </select>
                  <input class="half" type="submit" value="Search">
              </form>
            </div>
        </div>

        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h2>Have a look in templates/index.hbs , that is what you are seeing, bootstrap included</h2>
          <p><strong>{{page}}</strong> : is from data/index.json because of our npm run getData script</p>
          <p><strong>{{content}}</strong> : is from data/index.json because of our npm run getData script<p>
          <p>{{> testPart}} : is from partials/testPart.hbs<p>
          <p> <strong>{{# testHelper}}{{/ testHelper}}</strong> : is from helpers/testHelper.js</p>
          <img src="./assets/favicon.png" />
        </div> -->
      </div>
    </div>

  </body>
</html>
